/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 15 ene. 2024, 17:19:39
    Author     : Javier
*/
	
body{
    font-family: monospace;
    font-size: 18px;
    color: magenta;
}

